<div class="main-page-bg">
    <div class="main-page-header d-flex ai-center">
        <div class="logo-container flex-center">
            <img class="pointer" src="assets/img/logo/logo_&_name.png">
            <img class="code-symbol pointer" src="assets/img/icons/code_symbol.png">
        </div>
        <div class="search-container flex-center">
            <div class="search-field d-flex ai-center">
                <input placeholder="Code learning durchsuchen">
                <img class="pointer" src="assets/img/icons/loupe.png">
            </div>
        </div>
        <div class="profile-container d-flex ai-center j-end">
            <span class="pointer">Vorname Nachname</span>
            <img class="pointer" src="assets/img/avatar_1.png">
            <img class="pointer" src="assets/img/icons/arrow_down_simple.png">
        </div>
    </div>
    <router-outlet>
        <h1>Components here</h1>
    </router-outlet>
</div>