<div class="main-page-bg">
    <div class="main-page-header d-flex ai-center">
        <div class="logo-container flex-center">
            <img class="pointer" src="assets/img/logo/logo_&_name.png">
            <img class="code-symbol pointer" src="assets/img/icons/code_symbol.png">
        </div>
        <div class="search-container flex-center">
            <div class="search-field d-flex ai-center">
                <input placeholder="Code learning durchsuchen">
                <img class="pointer" src="assets/img/icons/loupe.png">
            </div>
        </div>
        <div class="profile-container d-flex ai-center j-end p-relative">
            <span class="name pointer">Vorname Nachname</span>
            <img class="pointer" src="assets/img/avatar_1.png">
            <img class="pointer" src="assets/img/icons/arrow_down_simple.png"
                (click)="$event.stopPropagation(); toggleLogoutPopup()">
            <div *ngIf="showLogoutPopup" class="overlay" (click)="toggleLogoutPopup()">
                <div class="logout-popup p-absolute flex-center f-column" (click)="$event.stopPropagation()">
                    <span class="pointer" (click)="closeLogoutPopup(); toggleProfilePopup()">Profil</span>
                    <span class="pointer">Logout</span>
                </div>
            </div>
            <div *ngIf="showProfilePopup" class="overlay" (click)="toggleProfilePopup()">
                <div class="profile-popup p-absolute d-flex f-column j-start" (click)="$event.stopPropagation()">
                    <img class="close-icon p-absolute pointer" src="assets/img/icons/close.png">
                    <span class="popup-header-text">Profil</span>
                    <img class="avatar-big mt-40 mb-40" src="assets/img/avatar_big.png">
                    <div class="d-flex w-100 j-between">
                        <span class="name">Vorname Name</span>
                        <a class="pointer">Bearbeiten</a>
                    </div>
                    <div class="d-flex w-100 g-20 mt-30">
                        <img class="online-dot" src="assets/img/icons/online.png">
                        <span class="online-text">Aktiv</span>
                    </div>
                    <div class="d-flex w-100 g-20 mt-40">
                        <img src="assets/img/icons/email.png">
                        <span>E-Mail-Adresse</span>
                    </div>
                    <span class="popup-email mt-30">name.vorname@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <router-outlet>
        <h1>Components here</h1>
    </router-outlet>
</div>